@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Syloti+Nagri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000220;
}

.logo {
    font-family: 'Noto Sans Syloti Nagri', sans-serif !important;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 15px;
    margin-left: 20px;
    color: #ffffff;
    font-weight: bold;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 2rem;
    background-color: transparent;
    color: #fff4f4;
    z-index: 10000000000;
}

nav a {
    margin: 0 2rem;
    padding: 0 .3rem;
    text-decoration: none;
    color: rgb(176, 176, 176);
    position: relative;
}

nav a:after {
    content: "";
    position: absolute;
    background-color: #f2457f;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -.5rem;
    transition: .4s;
}

nav a:hover:after {
    width: 100%;
}

nav a:hover {
    color: white;
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
}

.home {
    width: 100%;
    height: 100%;
}

.home {
    background: url('https://nova-iptv.net/media/novaiptv-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.first-section {
    margin: 3rem 1rem;
    padding: 2rem;
    left: 0;
    position: absolute;
    font-size: 55px;
}

.typewriting {
    color: #7334A6;
    text-decoration: underline;
}

.second-section {
    position: absolute;
    margin: 3rem 3.5rem 0 0;
    padding: 2rem;
    right: 0;
    transform: translateY(0%);
    font-size: 40px;
    direction: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-section-one {
    direction: flex;
    flex-direction: row;
    align-items: center;
}

.second-section-two {
    direction: flex;
    flex-direction: row;
    align-items: center;
}

.image-section {
    height: 190px;
    width: 190px;
}

.section {
    margin: 0 2rem 0 0;
    display: inline-block;
}


.features-container {
    height: 100vh;
    width: 100vw;
    background-image: url('https://nova-iptv.net/media/novaiptv-bg-2.jpg');
    background-size: cover;
}

.intro h1 {
    padding-top: 3.4rem;
    color: white;
    text-align: center;
    font-size: 40px;
}

.intro h3 {
    color: #c8c6c6;
    text-align: center;
    font-size: 25px;
}

.feature {
    position: relative;
    margin-top: 2.4rem;
    margin-left: 2rem;
    cursor: grab;
    height: 430px;
    width: 345px;
    border: 1px #2e3768 solid;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cover-photo {
    position: relative;
    margin: 2.4rem 0;
}

.title h1 {
    font-size: 24px;
    font-weight: 3rem;
}

.description p {
    color: #dad5d5;
    text-align: center;
    font-size: 19px;
    padding: 1rem 1rem;
}


.plans {
    position: relative;
    min-height: 125vh;
    width: 100vw;
    background-color: #010221;
    padding: 0 0 0 2rem;
}

.plans .title h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 3.5rem;
}

.plans .description h3 {
    text-align: center;
    color: #C8C6C6;
    font-size: 25px;
    margin: 0 3.4rem;
}

.first-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #02021E;
    margin: 3.5rem 0 0 0;
    gap: 3.4rem 0;
}

.plan-name {
    font-size: 27px;
    margin-bottom: .7rem;
}

.plan-image {
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
}

.plans-list {
    margin: 2.4rem 0;
}

.plans-card {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: #b0b0b0 2px solid;
    box-shadow: rgba(159, 157, 157, 0.35) 2px 10px 20px;
    border-radius: 16px;
    min-height: 75vh;
    width: 24vw;
    padding: 1rem 0rem;
}

.last-card {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: #b0b0b0 2px solid;
    box-shadow: rgba(159, 157, 157, 0.35) 2px 10px 20px;
    border-radius: 16px;
    width: 24vw;
    padding: 1rem 0rem;
}

.plan-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.old-price {
    font-size: 23px;
    color: grey;
}

.current-price {
    font-size: 38px;
    color: #BA46E2;
    font-weight: 900;
}

.no_connections {
    color: #575776;
}

.plan-outline {
    padding: 0 1rem;
    margin: 1rem 0;
    border: #a6a5a5 1px solid;
    width: 18vw;
    height: 2px;
}

.caracteristic {
    margin: .3rem auto;
}

.popular {
    width: 27vw;
    background-color: #161732;
    box-shadow: rgba(185, 185, 185, 0.25) 0px 14px 28px, rgba(196, 179, 179, 0.22) 0px 10px 10px;
    font-size: 1.1rem;
    z-index: 200;
}

.popular img {
    height: 67px;
    width: 67px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    margin-top: 1rem;
    background: none;
    padding: .4rem .7rem;
    font-size: 20px;
    cursor: pointer;
    border: 1px transparent solid;
    border-radius: 1.3rem;
}

.btn-popular {
    margin-top: 1.4rem;
    margin-bottom: .8rem;
}

.btn:hover {
    background-color: #BA46E2;
    color: white;
    transition: all .5s;
    opacity: 1;
}

.faq-container {
    background-color: #000220;
    position: relative;
    height: 85vh;
    width: 100%;
}

.faq {
    height: 80vh;
    width: 100%;
    background: url("./assets/backgrounds/galaxy.png");
    background-size: 55vw 90vh;
    background-repeat: no-repeat;
}

.faq-widget {
    position: absolute;
    left: 40%;
    float: left;
}

.faq-widget .maintitle h1 {
    font-size: 35px;
}

.faq-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headset {
    position: fixed;
    height: 50px;
    width: 50px;
    left: 0;
    bottom: 0;
    margin: 2rem;
    padding: 10px;
    background-color: #406dff;
    border: .1px grey solid;
    border-radius: 50%;
}

.item {
    padding: 10px 20px;
}

.item .title {
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.item .title span {
    font-size: 24px;
    margin: 0 10px 0 0;
}

.item .title h2 {
    font-size: 22px;
    color: white;
}

.item .content {
    font-size: 17px;
    color: #9f9e9e;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.item .content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.catalog {
    position: relative;
    height: 165vh;
    width: 100vw;
    background-color: #000220;
}

.catalog-title {
    text-align: center;
    font-size: 40px;
}

.title-description {
    padding-top: 3rem;
}

.catalog-description {
    text-align: center;
    font-size: 16px;
    color: #9a9999;
}

:root {
    --effect-background: #3085a3;
}

.films-list-1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.6rem;
}

.films-list-2 {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.6rem;
}

.hero-grid {
    position: relative;
    float: left;
    overflow: hidden;
    background: var(--effect-background);
    cursor: pointer;
    margin: 20px;
    width: 250px;
    height: 400px;
}

.hero-grid-image {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.2;
}

.hero-grid-content {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.hero-grid-content::before,
.hero-grid-content::after {
    pointer-events: none;
}

.hero-grid-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.hero-grid-title {
    letter-spacing: -1px;
    font-weight: 300;
    margin: 0;
    padding: 0.25em 0;
    line-height: 1;
}

.hero-grid-title span {
    font-weight: 800;
}

.hero-tag {
    display: inline-block;
    font-size: .5em;
    padding: .5em;
    background: #fff;
    color: #000;
}

.hero-grid h2,
.hero-grid p {
    margin: 0;
}

.hero-grid p {
    letter-spacing: 1px;
    font-size: 68.5%;
    max-height: 7em;
    overflow: hidden;
}

.effect-image {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
    opacity: 0.2;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

.effect-target {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 70px, 0);
}

.effect-target {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.effect-text {
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}

.effect-move:hover .effect-image,
.effect-move:hover .effect-text {
    opacity: 1;
}

.effect-move:hover .effect-target,
.effect-move:hover .effect-image {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.effect-move:hover .effect-text {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

.caracteritics-plans {
    margin-bottom: 1rem;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1.2rem;
}

.payment-methods {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1rem;
    gap: 1rem;
}

/* Responsive Design */
@media only screen and (max-width: 1182px) {
    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .first-section {
        font-size: 43px;
    }

    .second-section {
        position: absolute;
        margin: 3rem 1rem 0 0;
        padding: 2rem;
        right: 0;
        transform: translateY(0%);
        font-size: 40px;
        direction: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .image-section {
        height: 160px;
        width: 160px;
    }

    .feature {
        position: relative;
        margin-top: 2.4rem;
        margin-left: 2rem;
        cursor: grab;
        height: 430px;
        width: 300px;
        border: 1px #2e3768 solid;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .catalog {
        padding: 0 1em 0 1em;
    }

    .films-list-1 {
        gap: 1.5rem;
        margin-bottom: 0;
    }

    .films-list-2 {
        gap: 1.5rem;
    }
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.5rem;
        background-color: #1D2951;
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav {
        transform: none;
    }

    nav a:hover {
        color: white;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        color: white;
    }

    .first-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #02021E;
        margin: 3.5rem 0 0 0;
        gap: 5rem 0;
    }

    .plans-card {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        border: #b0b0b0 2px solid;
        box-shadow: rgba(159, 157, 157, 0.35) 2px 10px 20px;
        border-radius: 16px;
        height: 75vh;
        width: 40vw;
        padding: 1rem 0rem;
    }

    .last-card {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        border: #b0b0b0 2px solid;
        box-shadow: rgba(159, 157, 157, 0.35) 2px 10px 20px;
        border-radius: 16px;
        height: 75vh;
        width: 40vw;
        padding: 1rem 0rem;
    }

    .popular {
        height: 85vh;
    }

    .catalog {
        padding: 0 1em;
        margin-bottom: 0;
    }

    .films-list-1 {
        gap: 1rem;
        margin-bottom: 0;
    }

    .films-list-2 {
        margin-bottom: 0;
        gap: 1rem;
    }

    .hero-grid {
        margin: 10px;
        width: 200px;
        height: 350px;
    }

    .faq-container {
        margin-top: 0;
    }

    .first-section {
        font-size: 38px;
    }

    .second-section {
        position: absolute;
        margin: 3rem 0 0 0;
        padding: 2rem 0 2rem 0;
        right: 0;
        transform: translateY(0%);
        font-size: 40px;
        direction: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feature {
        position: relative;
        margin-top: 2.4rem;
        margin-left: .7rem;
        cursor: grab;
        height: 430px;
        width: 281px;
        border: 1px #2e3768 solid;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}